<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="name">Enter age: </label>
    <input type="number" th:field="*{age}" id="age" min="1"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>